<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDO_JeXQKx7wQbVpIdL5ogRPPJj9_pTLs</string>
	<key>GCM_SENDER_ID</key>
	<string>1084779186086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stevenjamesjobs.mcloonesboathouseconnect</string>
	<key>PROJECT_ID</key>
	<string>mcloone-s-boathouse-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>mcloone-s-boathouse-connect.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084779186086:ios:024df3771bdb6a6dbdb167</string>
</dict>
</plist>